.about {
    margin: 60px 50px 10px 100px;
}


.about-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px; 
} 

.facts-container {
    display: flex;
    flex-direction: row;
    margin-top: 100px; 
}

.about h1 {
    font-family: 'Handjet', sans-serif;
    font-size: 38px;
    font-weight: 600;
}

.about p {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}


/* media for smaller screens */
@media (max-width: 800px) {
    .about {
        margin: 0 25px;
    }

    .about img {
        width: 440px !important;
        margin-left: -8%;
        margin-top: 10%;
    }

    .about-container, .facts-container {
        flex-direction: column !important;
        justify-content: center;
    }

    .about h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .facts img {
        width: 350px !important;
        margin: 20px auto;
    }
}


/* media for larger screens */
@media (min-width: 1800px) {
    .about {
        margin: 200px 200px 10px 200px;
    }

    .about p {
        font-size: 16px;
    }
    
    .about h1 {
        font-size: 35px;
    }
}