html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* nav */
.nav-background {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 2;
}

nav ul {
    display: flex;
    margin: auto;
    padding: 0;
} 

nav a {
    color: black;
    font-family: 'Handjet', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0 40px;
}

/* hero */
.background {
    height: 90vh;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-container {
    margin: 200px auto;
    width: 45%;
    position: relative;
    z-index: 2;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 20px;
    font-family: 'Handjet', sans-serif;
}

.hero-container h3 {
    font-weight: 400;
    font-size: 22px;
    margin: 10px auto;
}

.hero-container h1 {
    font-family: 'Handjet', sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin: 10px auto;
}

.hero-container button {
    font-family: 'Handjet', sans-serif;
    font-size: 25px;
    margin: 10px auto;
    padding: 8px 15px;
    border-radius: 20px;
}

.hero-container button:focus {
    outline: none;
}

.hero-container button:hover, .my-work button:hover {
    box-shadow: -1px 2px 4px 0px;
}

/* softwares */
.softwares{
    margin: 20px 100px 10px 100px;
    z-index: 1;
}

.softwares h1, .my-work h1 {
    font-family: 'Handjet', sans-serif;
    font-size: 38px;
    font-weight: 600;
}

.software-icons {
    display: flex;
}

.software-icons img {
    padding: 0 1.5rem;
    max-width: 100%; 
    height: 80px; 
}

/* my work */
.my-work {
    margin: 60px 150px 10px 100px;
}
.my-work h2 {
    font-family: 'Handjet', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.my-work p {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.my-work img, .CS1, .CS2, .CS3 {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.CS1, .CS2, .CS3{
    background-color: rgb(226, 226, 226);
    padding: 0px 20px 50px 30px;
    border-radius: 80px;

}

.my-work button {
    font-family: 'Handjet', sans-serif;
    font-size: 25px;
    padding: 8px 15px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-work button:focus {
    outline: none;
}


/* my skills */
.my-skills {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "skill-1"
    "skill-2"
    "skill-3";
    margin: 20px 100px 10px 100px;
    padding: 5% 0;
}

.all-skills {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.my-skills h1 {
    font-family: 'Handjet', sans-serif;
    font-size: 38px;
    font-weight: 600;
}

.skill-1 h1, .skill-2 h1, .skill-3 h1 {
    font-family: 'Handjet', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.skill-1 p, .skill-2 p, .skill-3 p {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: white;
}

.skill-1-container, .skill-2-container, .skill-3-container {
    background-color: rgb(17, 24, 39);
    padding: 2%;
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
} 

#arrow-1, #arrow-2, #arrow-3 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer; 
    transition: transform .03s ease;
}

.rotate {
    transform: rotate(180deg);
}

/* footer*/
footer {
   margin-top: auto;
   padding: 40px 10px 10px;
   position: static;
   text-align: center;
   font-family: 'Handjet', sans-serif;
   border-top: 1px solid rgba(225, 225, 225, 1);
}

footer h1 {
    font-weight: 500;
    font-size: 30px;
    margin: 10px auto;
}

footer h3 {
    font-weight: 300;
    font-size: 20px;
    margin: 10px auto;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}




@media (max-width: 600px) {
    .body {
        width: 100% !important;
    }

    /* responsive nav */
    .nav-background {
        width: 90% !important;
    }

    nav a {
        margin: 0 25px !important;
        padding: 5px 0 !important;
        font-weight: 500 !important;
        font-size: 22px !important;
    }

    .nav-background {
        height: fit-content;
        padding: 10px 0;
    }

    /* responsive hero */
    .background {
        height: 600px;
        width: 100%;
    }

    .hero-container {
        margin: 38% auto;
        width: 70%;
    }

    .hero-container h3, footer h3 {
        font-size: 20px;
        font-weight: 400;
    }

    .hero-container h1 {
        font-size: 35px;
        font-weight: 600;
    }

    .hero-container button {
        font-size: 20px;
        font-weight: 500;
        color: black;
    }

    /* responsive sofwares */
    .softwares {
        margin: 0 25px;
    }

    .softwares h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .software-icons {
        height: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 1rem;
        margin-bottom: 40%;
    }

    .software-icons img {
        padding: 0;
    }

    /* responsive footer */
    footer h1 {
        font-size: 28px;
        font-weight: 600;
    }

    footer h3 {
        font-weight: 300;
        font-size: 18px;
    }
}


/* media for larger screens */
@media (min-width: 2000px) {
    .background {
        height: 60vh;
        z-index: -1;
    }
    
    .softwares {
        margin: 300px 100px 10px 100px;
        z-index: 1; 
    }
}